@model IEnumerable<Ludoria.Models.Game>
@{
    ViewData["Title"] = "Oyunlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Oyun Incelemeleri</h2>

@await Html.PartialAsync("GamePartialView", Model)

